<form class="form-signin" #f="ngForm" (ngSubmit)="Login(f.value)">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>
    </div>
  
    <div class="form-label-group">
      <input #email="ngModel" [(ngModel)]="login.email" name="email" type="email" id="email" class="form-control" placeholder="Email address" required>
      <label for="email">Email address</label>
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required.</div>
    </div>
  
    <div class="form-label-group">
      <input #password="ngModel" [(ngModel)]="login.password" name="password" type="password" id="password" class="form-control" placeholder="Password" required>
      <label for="password">Password</label>
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password is required.</div>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
          <div id="gSignInWrapper" (click)="googleLogin()">
                <img src="https://i.pinimg.com/originals/81/8f/f7/818ff7a3edc40836182c585939fbe82a.png" alt="google">
            </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
  </form>
