<h1>Shopping Cart</h1>
<ng-container>
    <p>You have {{quantityCount}} items in your shopping cart</p>
</ng-container>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>U.Price</th>
            <th>T.Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <ng-container *ngIf="quantity[i] !== 0" >
            <td>{{product.data.title}}</td>
            <td><product-quantity [product]="product.data" [quantity]="quantity" [i]="i"></product-quantity></td>
            <td>{{product.data.price | currency:'USD':true}}</td>
            <td>{{product.data.price * quantity[i] | currency:'USD':true}}</td>
        </ng-container>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>{{sum | currency:'USD':true}}</th>
        </tr>
    </tfoot>
</table>