<h1>Shopping Cart</h1>
<ng-container>
    <p>You have {{quantityCount}} items in your shopping cart</p>
</ng-container>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>U.Price</th>
            <th>T.Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.title}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price | currency:'USD':true}}</td>
            <td>{{item.price * item.quantity | currency:'USD':true}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>{{sum | currency:'USD':true}}</th>
        </tr>
    </tfoot>
</table>