<h1>Order History</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>U.Price</th>
            <th>T.Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of userOrder; let i = index">
                <td>
                    <div [style.backgroundImage]="'url('+ product.imageURL +')'" class="thumbnail"></div>
                </td>
            <td>{{product.title}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.price * product.quantity | currency}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{sum | currency}}</th>
        </tr>
    </tfoot>
</table>
<a [routerLink]="['/Orders']"
class="btn btn-primary">
Back
</a>

