
<p>
    <a class="btn btn-primary" routerLink="/ManageProducts/New">New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th id="1">Title</th>
            <th id="2">Price</th>
            <th id="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.data.title}}</td>
            <td>{{product.data.price}}</td>
            <td>
                <a [routerLink]="['/ManageProducts',product.id,product.data]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
