
<p>
    <a class="btn btn-primary" routerLink="/ManageProducts/New">New Product</a>
</p>
<p>
    <input
    #query (keyup)="filter(query.value)"
     type="text" class="form-control" placeholder="Search...">
</p>

<!-- <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
        [property]="'title'"
        [header]="Title"
        [sortable]="true"
        [resizable]="true"
    >
    </data-table-column>
    <data-table-column
        [property]="'price'"
        [header]="Price"
        [sortable]="true"
        [resizable]="true"
    >
    <ng-template #dataTableCell let-item="product">
        {{product.data.price | currency:'USD':true}}
    </ng-template>
    </data-table-column>
    <data-table-column
        [property]="'id'"
    >
    <ng-template #dataTableCell let-item="product">
        <a [routerLink]="['/ManageProducts',product.id,product.data]">Edit</a>
    </ng-template>
    </data-table-column>
</data-table> -->

<table class="table">
    <thead>
        <tr>
            <th id="1">Title</th>
            <th id="2">Price</th>
            <th id="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filtered">
            <td>{{product.data.title}}</td>
            <td>{{product.data.price | currency:'USD':true}}</td>
            <td>
                <a [routerLink]="['/ManageProducts',product.id,product.data]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
